
@using Business.Globalization
@using Business.SessionImpl
@using Business.Enums
@using Business.Services.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    GlobalizationManager _GlobalizationManager = SessionHandler.Instance.Get<GlobalizationManager>(SessionEnum.Language_Info);
    ViewBag.Title = _GlobalizationManager.GetTranslatedText("Download Mobile App", Enum_LangModule.MaskanWeb, "");
}

<div class="urProperty">
    <div class="container">
        <h1 style="color: #000"> @_GlobalizationManager.GetTranslatedText("Download Maskan Application", Enum_LangModule.MaskanWeb, "44")  </h1>
        <div class="row" style="margin-top: 100px;">
            <div class="col-lg-6 text-center">
                <div class="video-container responsive-video">
                    <iframe width="853" height="300" src="//www.youtube.com/embed/GnsADfYNWBM?rel=0" frameborder="0"></iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <h5> @_GlobalizationManager.GetTranslatedText("About Application", Enum_LangModule.MaskanWeb, "45")</h5>
                <h6>يقدم تطبيق مسكن خدمات عدة وسهل الاستخدام على الجوال</h6>
                <p>مع كل ما توفره أدوات البحث الشائع من إحصائيات و معلومات, بمكنك أن تقوم بتحليل مفصل لسوق العقارات لتضع نفسك في موقع ممتاز تتمكن من خلاله من اتخاذ قرارات استثمارية مبنية على معلومات دقيقة. و لكن لنضع في اعتبارنا أن هذا البحث الشائع ليس فقط عبارة عن أرقام موجودة في صفحات البحث- بل تمثل هذه الأرقام نشاط السوق و التغييرات الحاصلة في رواج العقارات في السوق.</p>
                <a class="waves-effect waves-light orange btn" style="margin-top: 20px; border-radius: 10px;">@_GlobalizationManager.GetTranslatedText("Download Application", Enum_LangModule.MaskanWeb, "46")</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center" style="margin-top: 20px;">
                <img src="/content/MasknVr1/img/download-app.png" class="img-responsive" style="height: 490px;">
            </div>
            <div class="col-lg-6 " style="margin-top: 80px">
                <h5> @_GlobalizationManager.GetTranslatedText("Download Application", Enum_LangModule.MaskanWeb, "46") </h5>
                <h6 style="line-height: 2">
                    تطبيق مسكن
                    <span>الآن و بينما تقدم كل الجرائد و المجلات جزء كبير من منشوراتهم ليغطوا قطاع العقارات في دبي و الإمارات,لتقوم بذلك بتوفير القليل من المساعدة للمستثمر. بينما يعتبرها الشخص العادي بيانات هائلة و تقارير طويلة , مما يجعل عملية انتقاء المعلومات مهمة مستحيلة تقريباً.</span>
                </h6>
                <p>لذلك, في مسكن . نحن نضع كل ذلك بين يديك في إحصائيات. إذا كنت تفضل كلاماً أقل و معلوماتٍ أكثر فما عليك أن تجرب بحث العقارات لدينا. كما يمكنك أن تستدل من الاسم, فالبحث الشائع يبقيك مواكباً لجميع نشاطات السوق الشائعة. هذا الخيار لا يساعدك فقط في إيجاد بعضاً من أكثر العقارات و المواقع تميزاً بل أيضاً يعرفك بدقة عن أكثر ما يفضله الناس.</p>
                <a class="waves-effect waves-light orange btn" style="margin-top: 20px; border-radius: 10px;">تحميل التطبيق  </a>
            </div>
        </div>
    </div>
</div>

