.select2-container--default .select2-selection--single {
    border-radius: 0;
}

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 32px;
    }

.select2-container .select2-selection--single {
    height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px;
}

.select2-container--default .select2-selection .select2-selection__clear {
    right: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 31px;
}

.btn-sm, .btn-group-sm > .btn {
    line-height: 1.39;
}
