<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Share.CMS.ConnStr" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Maskn;Persist Security Info=True; User ID=sa;Password=123456" />
  </connectionStrings>
</configuration>